@charset "UTF-8";

/* Footer */
.site-footer {
	background-color: #FFF3C0;
	padding: 30px;
	text-align: center;
	font-size: 0.9rem;
	color: #666;
}

.site-footer a {
	color: #666;
	text-decoration: none;
	margin: 0 5px;
}

.site-footer a:hover {
	color: #333;
}