<!-- templates/fragments/footer.html -->
<!-- 공통 레이아웃(footer 바로 위)에 추가 -->


<div th:fragment="site-footer">
  <footer class="site-footer">
    <div class="footer-inner">
      <!-- 브랜드 소개 -->
      <div class="f-col">
        <h4 class="footer-title">모으냥즈</h4>
        <p class="footer-desc">귀여운 고양이들과 함께하는 금융 습관 만들기.</p>
        <p>© 2025 Moenyangs Bank. All rights reserved.</p>
        <p>사업자등록번호 123-45-67890 | 고객센터 1588-1234</p>
        
        <!-- 링크 -->
        <p class="footer-links">
          <a href="#">이용약관</a>
          <span>|</span>
          <a href="#">개인정보처리방침</a>
        </p>
      </div>
    </div>
  </footer>
</div>
